@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
}

@layer utilities {
  .item {
    @apply font-outfit text-[17px] font-[500];
  }
  .item::after {
    @apply absolute -bottom-[5px] left-0 h-[3px] w-0 rounded-xl bg-black duration-300 content-[''];
  }
  .item:hover::after {
    @apply w-full;
  }
  .subitem {
    @apply relative font-outfit text-[15px] font-[400];
  }
  .subitem::after {
    @apply absolute -bottom-[5px] left-0 h-[3px] w-0 rounded-xl  bg-white duration-300 content-[''];
  }
  .subitem:hover::after {
    @apply w-full;
  }
  .subitem-enter {
    opacity: 0;
    transform: translateY(-10px);
  }

  .subitem-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition:
      opacity 300ms,
      transform 300ms;
  }

  .subitem-exit {
    opacity: 1;
    transform: translateY(0);
  }

  .subitem-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition:
      opacity 300ms,
      transform 300ms;
  }
  .section-container {
    @apply px-5 py-10 md:px-16 flex flex-col items-start gap-7 font-dmsans text-lg text-gray-600;
}
.section-container ul {
    @apply list-disc list-inside;
}
.section-container h1 {
    @apply text-4xl font-outfit font-[500];
}
.section-container h2 {
  @apply text-3xl font-outfit font-[400];
}
}
