@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .item {
    @apply text-[17px] font-outfit font-[500];
  }
  .item::after {
    @apply content-[''] bg-black h-[3px] w-0 rounded-xl absolute left-0 -bottom-[5px] duration-300;
  }
  .item:hover::after {
    @apply w-full;
  }
  .subitem {
    @apply text-[15px] font-outfit font-[400] relative;
  }
  .subitem::after {
    @apply content-[''] bg-white h-[3px] w-0 rounded-xl absolute  left-0 -bottom-[5px] duration-300;
  }
  .subitem:hover::after {
    @apply w-full;
  }
  .subitem-enter {
    opacity: 0;
    transform: translateY(-10px);
  }

  .subitem-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }

  .subitem-exit {
    opacity: 1;
    transform: translateY(0);
  }

  .subitem-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms, transform 300ms;
  }
}
